/*Mise à dimension et centrage*/
body{
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 0px;
    width: 1000px;
}

/*Juste pour être sûr*/
body div, aside, img, footer{
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*logo en float pour texte du logo à droite*/
#logo{
    float: left;
}

#logoText{
    font-size: xx-large;
    margin-left: 50%;
}

nav, footer{
    clear: both;
    background-color: black;
    padding: 5px;
}

/*Affichage des éléments de listes en inline pour les mettre
sur la même ligne*/
li{
    display: inline;
}

/*Partie grise moche de droite*/
aside{
    float: right;
    width: 200px;
    height: 800px;
    background-color: gray;
}

/*Couleur des liens*/
a, a:visited{
    color: white;
}

/*Petit effet moche sur les lien*/
a:hover{
    color: red;
}

article p::first-letter{
    font-size: 20px;
    font-weight: bolder;
    color: darkolivegreen;
}